:root {
  --primary-font: "Roboto", sans-serif;
  --secondary-font: "Raleway", sans-serif;
  --primary-brand-color: #4d5ae5; /* CTAs, focused, active links */
  --pressed-state-color: #404bbf; /* CTAs */
  --dark-color: #2e2f42; /* Overlays, Shadows, Headinngs */
  --success-color: #31d0aa; /* Valid fields, success messages */
  --text-color: #434455; /* Body text */
  --subtle-color: #8e8f99; /* Helper text, Deemphasized text*/
  --accent-color: #e7e9fc; /* Accent color, Hairlines, Subtle backgrounds */
  --light-color: #f4f4fd; /* Light mode backgrounds, Light mode Dialogs/alerts */
  --modal-overlay-color: #2e2f42; /* Overlay */
  --hero-background-color: #2e2f42; /* Hero image background */
  --white-background-color: #fff; /* Header, team card background,  */
  --modal-background-color: #fcfcfc; /* Modal background */
}

* {
  box-sizing: border-box;
}

body {
  font-family: var(--primary-font);
  color: var(--text-color);
  background-color: var(--white-background-color);
  line-height: 1.5;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

ul,
ol {
  padding-left: 0;
  margin: 0;
}

button {
  border: none;
}

img {
  display: block;
}

main {
  flex-grow: 1;
}

.list {
  list-style: none;
}

.link {
  color: var(--text-color);
  text-decoration: none;
  display: block;
}

.icon {
  display: block;
}

.container {
  max-width: 1158px;
  padding: 0 15px;
  margin: 0 auto;
}

.section-title,
.cards-title {
  color: var(--dark-color);
  letter-spacing: 0.02em;
}

.section-title {
  font-size: 36px;
  text-align: center;
  text-transform: capitalize;
  margin-bottom: 72px;
}

.main-title,
.section-title {
  line-height: 1.11;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

/* LOGO */

.logo {
  text-transform: uppercase;
  font-family: var(--secondary-font);
  font-weight: 800;
  font-size: 18px;
  line-height: 1.17;
  letter-spacing: 0.03em;
}

.logo span {
  color: var(--primary-brand-color);
}

.dark-logo {
  color: var(--dark-color);
}

.light-logo {
  color: var(--light-color);
}

/* HEADER */

.topline {
  border-bottom: 1px solid var(--accent-color);
}

.navigation .logo {
  margin-right: 76px;
}

.header-container {
  display: flex;
  justify-content: space-between;
  /* align-items: center; */
}

.navigation {
  display: flex;
  justify-content: center;
  gap: 76px;
  align-items: center;
}

.navigation-menu,
.contacts-list {
  display: flex;
  /* align-items: center; */
  gap: 40px;
}

.contacts {
  font-style: normal;
}

.contacts .link {
  font-weight: 400;
  color: var(--text-color);
}

.nav-links {
  color: var(--dark-color);
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  padding: 24px 0;
}

.nav-links:hover,
.nav-links:focus {
  color: var(--pressed-state-color);
}

/* SOLUTIONS SECTION */

.solutions-section,
footer {
  background-color: var(--dark-color);
}

.solutions-section {
  padding: 188px 0;
  background-image: linear-gradient(
      rgba(46, 47, 66, 0.7),
      rgba(46, 47, 66, 0.7)
    ),
    url(../images/hero-bg.jpeg);
  background-size: cover;
}

.solutions-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-items: center;
}

.main-title {
  color: var(--white-background-color);
  text-align: center;
  font-size: 56px;
  font-weight: 700;
  line-height: 1.07;
  letter-spacing: 0.02em;
  max-width: 496px;
  margin-bottom: 48px;
}

.order-btn {
  background-color: var(--primary-brand-color);
  color: var(--white-background-color);
  padding: 16px 32px;
  min-width: 169px;
  border-radius: 4px;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15);
}

/* BENEFITS SECTION */

.benefits-section {
  padding: 120px 0;
}

.benefits-wrapper {
  display: flex;
  gap: 24px;
}

.benefits-card {
  flex-basis: calc((100% - (24px * 3) / 4));
}

.benefits-card .cards-title {
  margin-bottom: 8px;
}

.benefits-icon-wrapper {
  background-color: var(--light-color);
  padding: 24px 0;
  margin-bottom: 8px;
}

.benefits-icon {
  width: 64px;
  height: 64px;
  margin: 0 auto;
}

/* WE DOING SECTION */

.we-doing-section {
  padding: 120px 0;
}

.we-doing-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-items: center;
}

.we-doing-container .list {
  display: flex;
  align-items: center;
  justify-items: center;
  gap: 24px;
}

.we-doing-img-wrapper {
  flex-basis: calc((100% - (24px * 2)) / 3);
}

.we-doing-img {
  border: 1px solid var(--accent-color);
}

/* OUR TEAM SECTION */

.our-team-section {
  background-color: var(--light-color);
  padding: 120px 0;
}

.our-team-container {
}

.our-team-list {
  display: flex;
  gap: 24px;
}

.team-card {
  background-color: #ffffff;
  flex-basis: calc((100% - (24px * 3)) / 4);
  max-width: 264px;
  display: inline-flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  box-shadow: 0px 2px 1px 0px rgba(46, 47, 66, 0.08),
    0px 1px 1px 0px rgba(46, 47, 66, 0.16),
    0px 1px 6px 0px rgba(46, 47, 66, 0.08);
  border-radius: 0px 0px 4px 4px;
}

.team-card-wrapper {
  gap: 8px;
  padding: 32px 0;
  background: var(--white-background-color);
}

/* PROJECTS */

.projects-section {
  padding: 96px 0 120px;
}

.projects-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.filters-wrapper {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  gap: 24px;
  margin-bottom: 72px;
}

.projects-wrapper {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  gap: 48px 24px;
}

.project-card {
  flex-basis: calc((100% - (24px * 2)) / 3);
  max-width: 360px;
  display: flex;
  padding-bottom: 0px;
  flex-direction: column;
  align-items: flex-start;
  gap: 32px;
  flex-shrink: 0;
}

.project-text-wrapper {
  padding: 32px 16px;
  align-self: stretch;
  border: 1px solid var(--accent-color);
  border-top: none;
  background: var(--white-background-color);
}

/* BUTTONS */

.order-btn,
.filters-btn {
  font-size: 16px;
  font-weight: 500;
  cursor: pointer;
  font-family: var(--primary-font);
  line-height: 1.5;
  letter-spacing: 0.04em;
}

.filters-btn {
  display: flex;
  padding: 12px 24px;
  justify-content: center;
  align-items: center;
  background-color: var(--light-color);
  color: var(--primary-brand-color);
  border-radius: 4px;
  border: 1px solid var(--accent-color);
}

.filters-btn:hover,
.filters-btn:focus {
  background-color: var(--pressed-state-color);
  color: var(--white-background-color);
  border: 1px solid transparent;
}

.order-btn:hover,
.order-btn:focus {
  background-color: var(--pressed-state-color);
}

/* CARDS */

.cards-title {
  line-height: 1.2;
  font-size: 20px;
  font-weight: 500;
  letter-spacing: 0.02em;
  background-color: #fff;
  margin-bottom: 8px;
}

.team-card-wrapper .cards-title,
.team-card-wrapper .cards-text {
  text-align: center;
}

.cards-text {
  letter-spacing: 0.02em;
  color: var(--text-color);
}

/* FILTERS BUTTONS */

/* FOOTER */

.bottom {
  padding: 100px 0;
}

.bottom-container {
  /* display: flex;
  flex-direction: column;
  justify-content: flex-start; */
}

.bottom-container .light-logo {
  display: inline-block;
  margin-bottom: 16px;
}

.footer-text {
  color: var(--light-color);
  letter-spacing: 0.02em;
  max-width: 264px;
}
